
<!DOCTYPE html>
<html lang="">
<!-- To declare your language - read more here: https://www.w3.org/International/questions/qa-html-language-declarations -->
<head>
<title>AP Impex</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<link href="layout/styles/layout.css" rel="stylesheet" type="text/css" media="all">
<link href="layout/styles/indexs.css" rel="stylesheet" type="text/css" media="all">
</head>
<body id="top">
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper row0">
  <header id="header" class="hoc clear"> 
    <!-- ################################################################################################ -->
    <div id="logo" class="one_quarter first">
      <a href="#"><img src="https://i.imgur.com/3XIEB44.png"></a>
    </div>
    <div class="three_quarter">
      <ul class="nospace clear">
        <li class="one_third first">
          <div class="block clear"><a href="tel:+919034913717"><i class="fas fa-phone"></i></a> <span><strong>Give us a call:</strong> +91 90349 13717</span></div>
        </li>
        <li class="one_third">
          <div class="block clear"><a href="mailto:badhwar.anuvart@gmail.com"><i class="fas fa-envelope"></i></a> <span><strong>Send us a mail:</strong> badhwar.anuvart@gmail.com</span></div>
        </li>
        
      </ul>
    </div>
    <!-- ################################################################################################ -->
  </header>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper row1">
  <section class="hoc clear"> 
    <!-- ################################################################################################ -->
    <nav id="mainav">
      <ul class="clear">
        <li><a href="index.html">Home</a></li>
        <li><a class="drop" href="#">Products</a>
          <ul>
            <li><a href="ginger.html">Organic Dry Ginger</a></li>
            <li><a href="pages/full-width.html">Organic Turmeric</a></li>
            <li><a href="pages/sidebar-left.html">Organic Black Pepper</a></li>
            <li><a href="pages/sidebar-right.html">Organic Clove</a></li>
            <li><a href="pages/basic-grid.html">Organic Cumin Seeds</a></li>
            <li><a href="cashew.html">Cashew Nuts</a></li>
          </ul>
        </li>		
		<li><a href="about us.html #certi">Certifications</a></li>
        <li><a href="about us.html #about_us">Why Organic ?</a></li>
        <li><a href="about us.html">About Us</a></li>
      </ul>
    </nav>
	<br>
	<br>
	<br>
    
    <!-- ################################################################################################ -->
  </section>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="bas">
  <div class="imageshow-container">
  
  <div class="images fade">
    <img src="https://p4.wallpaperbetter.com/wallpaper/728/259/631/spices-pepper-food-spoons-wallpaper-preview.jpg" style="width:100%">
  </div>
  
  <div class="images fade">
    <img src="https://i.imgur.com/nAfVDPA.jpg" style="width:100%">
    <div class="caption">Turmeric</div>
  </div>
  
  <div class="images fade">
    <img src="https://static.onecms.io/wp-content/uploads/sites/43/2019/09/429048911_6086120608001_6086114092001-vs.jpg" style="width: 100%;">
    <div class="caption">Raw Cashew Nuts</div>
  </div>

  <div class="images fade">
    <img src="https://i.imgur.com/n00yOrY.jpg" style="width: 100%;">
    <div class="caption">Black Pepper</div>
  </div>

  <a class="prev" onclick="nextImage(-1)">&#10096;</a>
  <a class="next" onclick="nextImage(1)">&#10097;</a>
</div>
<br>

<div style="text-align:center">
  <span class="spot" onclick="currentImage(1)"></span>
  <span class="spot" onclick="currentImage(2)"></span>
  <span class="spot" onclick="currentImage(3)"></span>
  <span class="spot" onclick="currentImage(4)"></span>
  </div></div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper row3">
  <main class="hoc container clear"> 
    <!-- main body -->
    <!-- ################################################################################################ -->
    <div class="sectiontitle">
      <h6 class="heading">"He who controls the spice controls the universe"</h6>
      <p>Bringing you the finest organic spices & herbs in the world</p>
    </div>
    <div class="group center btmspace-80">
      <article class="one_third first"><a class="ringcon btmspace-50" href="#"><i class="fas fa-check-circle"></i></a>
        <h6 class="heading">Quality</h6>
        <p>Maintaining the high quality organic products for our customers is imperative to us and so to our farmers across the globe.</p>
      </article>
      <article class="one_third"><a class="ringcon btmspace-50" href="#"><i class="fas fa-thumbs-up"></i></a>
        <h6 class="heading">Reliability</h6>
        <p>Our main goal is customer satisfaction, which we obtain through market orientation and the allocation of ongoing service and support.</p>
      </article>
      <article class="one_third"><a class="ringcon btmspace-50" href="#"><i class="fas fa-seedling"></i></a>
        <h6 class="heading">Rich-Organic Products</h6>
        <p>We are a supplier of high quality organic- products, reaching and even outperforming global standards, proven by international quality.</p>
      </article>
    </div>
    <!-- ################################################################################################ -->
    <!-- / main body -->
    <div class="clear"></div>
  </main>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper row2">
  <section class="hoc container clear"> 
    <!-- ################################################################################################ -->
    <article class="one_third first">
      <h6 class="heading">Who we are ? </h6>
      <p>We are the leading importer & exporter of organic spices in India. From the finest farms of Nigeria we bring you the richest quality raw cashew nuts, organic-dry ginger and many more organic spices.</p>
      <b><p class="btmspace-30">Since its inception, AP IMPEX has focused on helping African cashews meet international quality standards by providing advice and training on every stage of the production process.</p></b>
      
    </article>
    <figure class="one_third"><a class="imgover" href="https://i.imgur.com/wVE53gZ.jpg"><img src="https://i.imgur.com/wVE53gZ.jpg" alt=""></a></figure>
    <figure class="one_third"><a class="imgover" href="https://i.imgur.com/JgRoY9l.jpg"><img src="https://i.imgur.com/JgRoY9l.jpg" alt=""></a></figure>
    <!-- ################################################################################################ -->
  </section>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->

<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper row2">
  <section class="hoc container clear"> 
    <!-- ################################################################################################ -->
    <article class="one_third first">
      <h6 class="heading"></h6>
      <p>With a rising demand in the world market for hygienic foods, there has been a trend towards the adoption of organic methods of cultivation. The use of organic cultivation and the use of natural fertilizers has become popular among cultivators around the world.</p>
      <b><p class="btmspace-30">We take pride in providing consumers with food that is 100% natural & organic in a manner that is beneficial to our environment.</p></b>
      <p><a class="btn" href="#">About Us <i class="fas fa-angle-right"></i></a></p>
    </article>
    <figure class="one_third"><a class="imgover" href="https://i.imgur.com/Nq5xJlN.jpg"><img src="https://i.imgur.com/Nq5xJlN.jpg" alt=""></a></figure>
    <figure class="one_third"><a class="imgover" href="https://i.imgur.com/g7QBWsT.jpg"><img src="https://i.imgur.com/g7QBWsT.jpg" alt=""></a></figure>
    <!-- ################################################################################################ -->
  </section>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->



<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper row2">
  <section class="hoc container clear"> 
    <!-- ################################################################################################ -->
    <div class="sectiontitle">
      <h6 class="heading"><b>Our Signature Products</b></h6>
      <p>We provide wide variety of Organic spices & top grade Raw Cashew Nuts.</p>
    </div>
    <div id="latest" class="group">
      <article class="one_third first"><a class="imgover"><img src="https://5.imimg.com/data5/FD/EQ/MY-3724263/raw-cashew-nut-rcn-500x500.jpg" alt=""></a>
        <div class="excerpt">
          <h6 class="heading">Raw Cashew Nuts</h6>
          <p>Our finest cashews contain a significant amount of copper, a mineral essential for energy production, healthy brain development, and a strong immune system.</p>
          <footer><a href="#">Read More <i class="fas fa-angle-right"></i></a></footer>
        </div>
      </article>
      <article class="one_third"><a class="imgover"><img src="https://i.imgur.com/4hkuLgI.jpg" alt=""></a>
        <div class="excerpt">
          <h6 class="heading">Organic Black Pepper</h6>
          <p>For thousands of years, black pepper has been a staple ingredient all over the world. We bring the best quality black pepper from Vietnam & top black pepper producing counties in Asia.</p>
          <footer><a href="#">Read More <i class="fas fa-angle-right"></i></a></footer>
        </div>
      </article>
      <article class="one_third"><a class="imgover"><img src="https://i.imgur.com/cAmnbee.jpg" alt=""></a>
        <div class="excerpt">
          <h6 class="heading">Organic Dry Ginger</h6>
          <p>Dry ginger facilitates weight loss by improving digestion, which helps in burning stored fat and processing glucose in the blood. Best Asta quality dry ginger directly from rich farms of Nigeria.</p>
          <footer><a href="#">Read More <i class="fas fa-angle-right"></i></a></footer>
        </div>
      </article>
	  
	  
	  <article class="one_third first"><a class="imgover" ><img src="https://i.imgur.com/bRIYjtl.jpg" alt=""></a>
        <div class="excerpt">
          <h6 class="heading">Organic Turmeric</h6>
          <p>Organic turmeric has great anti-inflammatory and anti-oxidant property which reduces the inflammation and strengthens person’s immunity. It has good amount of vitamin C, vitamin B,..</p>
          <footer><a href="#">Read More <i class="fas fa-angle-right"></i></a></footer>
        </div>
      </article>
      <article class="one_third"><a class="imgover"><img src="https://i.imgur.com/u9kl7Gr.jpg" alt=""></a>
        <div class="excerpt">
          <h6 class="heading">Organic Clove</h6>
          <p>Clove has been used for thousands of years in India and China not only as a spice but also as a medicine for many ailments. The nutrients found in cloves include carbohydrates,...</p>
          <footer><a href="#">Read More <i class="fas fa-angle-right"></i></a></footer>
        </div>
      </article>
      <article class="one_third"><a class="imgover" ><img src="https://www.gbhimportexports.co.za/fruits/wp-content/uploads/2018/05/25017-04-stick-aa.jpg" alt=""></a>
        <div class="excerpt">
          <h6 class="heading">Broken Dry Cassia</h6>
          <p>Cassia cinnamon is a type of cinnamon prepared from the dried inner bark of an evergreen tree that grows in areas of southeastern Asia. In addition to cassia cinnamon, Cinnamomum verum...</p>
          <footer><a href="#">Read More <i class="fas fa-angle-right"></i></a></footer>
        </div>
      </article>
	  
    </div>
    <footer class="center"><a class="btn" href="#">See More Products <i class="fas fa-angle-right"></i></a></footer>
    <!-- ################################################################################################ -->
  </section>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper row4">
  <footer id="footer" class="hoc clear"> 
    <!-- ################################################################################################ -->
    <div class="one_third first">
      <h6 class="heading">about aP impex</h6>
      <p>We are a direct importer and the leading industrial ingredient supplier of world class organic spices & herbs in India.</p>
      <p class="btmspace-30">Ounce for ounce, herbs and spices have more antioxidants than any other food group. <br>-Michael Greger </p>
	  
      <ul class="faico clear">
        <li><a class="faicon-google-plus" href="mailto:badhwar.anuvart@gmail.com"><i class="fab fa-google-plus-g"></i></a></li>
        <li><a class="faicon-linkedin" href="https://www.linkedin.com/in/anuvart-badhwar-4210a8206/"><i class="fab fa-linkedin"></i></a></li>
      </ul>
    </div>
    <div class="one_third">
      <h6 class="heading">Trusted & certified globally !</h6>
      <ul class="nospace clear latestimg">
        <li><a href="#"><img src="https://i.imgur.com/RhzYBCg.jpg" alt=""></a></li>
        <li><a href="#"><img src="https://i.imgur.com/x2PHdLI.jpg" alt=""></a></li>
        <li><a href="#"><img src="https://i.imgur.com/YBClqja.jpg" alt=""></a></li>
        <li><a href="#"><img src="https://i.imgur.com/G9lg15f.jpg" alt=""></a></li>
        <li><a href="#"><img src="https://i.imgur.com/pJJufwB.jpg" alt=""></a></li>
        <li><a href="#"><img src="https://i.imgur.com/hdttJAn.jpg" alt=""></a></li>
      </ul>
    </div>
    <div class="one_third">
      <h6 class="heading">reach us out !</h6>
      <p class="nospace btmspace-15">Get in touch with us , send us your inquiry now !</p>
      <form method="post" action="#">
        <fieldset>
          <legend>Newsletter:</legend>
          <input class="btmspace-15" type="text" value="" placeholder="Name">
          <input class="btmspace-15" type="text" value="" placeholder="Email">
		  <input class="btmspace-15" type="text" value="" placeholder="Message">
          <button type="submit" value="submit">Submit</button>
        </fieldset>
      </form>
    </div>
    <!-- ################################################################################################ -->
  </footer>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper row5">
  <div id="copyright" class="hoc clear"> 
    <!-- ################################################################################################ -->
    <p class="fl_left">Copyright &copy; 2021 All Rights Reserved - <a href="#">AP IMPEX</a></p>
	<p class="fl_right">Developed by <a target="_blank" href="#"><b>HypercloudAlpha</b></a></p>
    <!-- ################################################################################################ -->
  </div>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<a id="backtotop" href="#top"><i class="fas fa-chevron-up"></i></a>
<!-- JAVASCRIPTS -->
<script>var imageIndex = 1;
showImages(imageIndex);

function nextImage(n) {
  showImages((imageIndex += n));
}

function currentImage(n) {
  showImages((imageIndex = n));
}

function showImages(n) {
  var i;
  var images = document.getElementsByClassName("images");
  var spots = document.getElementsByClassName("spot");
  if (n > images.length) {
    imageIndex = 1;
  }
  if (n < 1) {
    imageIndex = images.length;
  }
  for (i = 0; i < images.length; i++) {
    images[i].style.display = "none";
  }
  for (i = 0; i < spots.length; i++) {
    spots[i].className = spots[i].className.replace(" active", "");
  }
  images[imageIndex - 1].style.display = "block";
  spots[imageIndex - 1].className += " active";
}
</script>
<script src="layout/scripts/jquery.min.js"></script>
<script src="layout/scripts/jquery.backtotop.js"></script>
<script src="layout/scripts/jquery.mobilemenu.js"></script>
</body>
</html>